<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

<listeners>
		<listener class-name="com.qa.Extent.Report.ExtentReportListListener" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<class name="crm.com.qa.test.LoginPageTest"></class>
			<class name="crm.com.qa.test.HomePageTest"></class>
		  <class name="crm.com.qa.test.ContactPageTest"></class>
		</classes>
	</test>
</suite>